* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  overflow: hidden;
}

p {
  height: 100vh;
  font-size: 10px;
  line-height: 10px;
  background: url("./nas.jpeg");
  -webkit-background-clip: text;
  background-clip: text;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  background-size: min(700px, 100%);
  background-position: center;
  font-family: 'Open Sans Condensed', sans-serif;
  word-break: break-all;
  max-width: 600px;
  filter: contrast(1.3);
  animation: text 3s linear;
}

@keyframes text {
  from {
    font-size: 0;
  }

  to {
    font-size: 10px;
  }
}

